.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.portfolio-item :last-child {
  margin-bottom: 0;
}

.item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  margin-bottom: 100px;
  align-items: center;

  gap: 10px;
}

.item-box {
  display: block;
}
.item-text {
  grid-column: 7 / -1;
  grid-row: 1;
  z-index: 2;
}

.item-title {
  padding-bottom: 20px;
  font-size: 26px;
  text-align: right;
}

.item-title-left {
  padding-bottom: 20px;
  font-size: 26px;
  text-align: left;
}

.item-description {
  background-color: rgb(23, 42, 69);
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  border-radius: 6px;
  padding: 2.5rem;
  text-align: left;
}

.item-description ul {
  padding-top: 2rem;
}
.item-description li {
  display: inline;
  list-style: none;
  padding: 0 2rem;
  text-align: left;
  position: relative;
}

.item-description li::before {
  content: "▶";
  position: absolute;
  font-size: 0.8rem;
  left: 0;
}

.item-text-left {
  text-align: left;
  grid-column: 1 / 7;
  grid-row: 1;
  z-index: 2;
}

.item-image {
  grid-column: 1 / 8;
  grid-row: 1;
}

.item-image-left {
  grid-column: 6 / -1;
  grid-row: 1;
}

.portfolio-img {
  flex: 1;
  width: 100%;
  margin: 0px;
}

.portfolio-description {
  flex: 2;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 650ms;
}

.portfolio-description .cta:hover {
  color: #2f67cd;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  align-items: flex-end;
}

.icons-left {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  align-items: flex-start;
}

.portfolio-icon-container {
  display: flex;
}

.portfolio-icon-container a {
  padding: 1rem;
}


