/* Global Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto  Slab", sans-serif;
  color: #eee;
}

body {
  width: 100%;
  height: 100%;
  background: #0a192f;
}

section {
  padding: 6rem 0;
}

img {
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
}
/* Global End */

/* Resusable */
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300rem;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
  content: " ";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

.icon-container {
  display: inline;
  margin-bottom: 2rem;
}

.icon-container i {
  font-size: 8rem;
  margin: 0px 10px;
}

.linkedin {
  color: #38a1f3;
  cursor: pointer;
  transition: color 600ms;
}

.linkedin:hover {
  color: #0e76a8;
  cursor: pointer;
}

.github {
  color: #9cdaf1;
  cursor: pointer;
  font-size: 35px;
  transition: color 600ms;
}

.fa-external-link-alt {
  color: #9cdaf1;
  font-size: 35px;
}

.github:hover {
  color: #7dbbe6;
  cursor: pointer;
  opacity: 0.7;
}

/* Resuable End */

@media screen and (max-width: 800px) {
  .about .container {
    flex-direction: column;
  }

  .profile-img {
    margin-right: 0;
    width: 60%;
  }

  .about .container {
    align-items: center;
  }

  .about-details {
    margin-top: 0;
  }

  .about-grid {
    margin: 1rem 10%;
    text-align: center;
  }

  .about-heading h6 {
    text-align: center;
    align-items: center;
  }

  .timeline {
    margin: 0 auto;
  }
  .centered-text {
    margin: auto;
    width: 80%;
    align-items: center;
  }
}
